<nav aria-label="breadcrumb" class="modern-breadcrumb mb-3" *ngIf="breadcrumbs.length > 0">
  <ol class="breadcrumb-list">
    <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs; let last = last" [class.active]="last">
      
      <a *ngIf="!last; else lastItem" [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
      
      <ng-template #lastItem>
        <span class="current-page">{{ breadcrumb.label }}</span>
      </ng-template>
      
      <span class="breadcrumb-separator" *ngIf="!last" aria-hidden="true">/</span>
      
    </li>
  </ol>
</nav>