/* You can add global styles to this file, and also import other style files */

/* 1. Importe do CSS do ngx-toastr */
@import 'ngx-toastr/toastr';

// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700&display=swap');
/* Variáveis Globais de Cor */
:root {
  --cor-primaria: #0d6efd;
  --cor-secundaria: #0F172A; /* Midnight Slate */
  --cor-sucesso: #198754;
  --cor-perigo: #dc3545;
  --cor-fundo: #f8f9fa;
  --cor-cartao: #ffffff;
  --cor-borda: #dee2e6;
  --cor-texto: #212529;
  --cor-texto-sidebar: #f8f9fa; /* Texto claro para a sidebar */
  --sombra-cartao: 0 4px 12px rgba(0, 0, 0, 0.05);
  --raio-borda: 15px;
  // --fonte-principal: 'IBM Plex Sans', sans-serif;
  // --fonte-principal: 'Public Sans', sans-serif;
  --fonte-principal: 'Source Sans 3', sans-serif;
}

/* --- Reset Básico --- */
body {
  margin: 0;
  font-family: var(--fonte-principal);
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

a {
  text-decoration: none;
  color: var(--cor-primaria);
}

button, input, select, textarea {
  font-family: inherit;
}

